@use 'variables.scss' as *;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 800;

  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  background-color: $background-color;
  color: $text-color;
}

dl,
dd,
dt {
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  background: none;
}

input,
select,
option {
  background-color: $background-color;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  padding: $padding;
  outline: none;

  &:focus {
    border-color: $text-color;
  }
}