@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


html,
body {
	@apply h-full overflow-hidden;
}

:root [data-theme='kuromi-theme'] {
	--theme-font-family-base: "Josefin Sans", sans-serif;
	--theme-font-family-heading: "Abril Fatface", serif;
}