// Variables
$background-color: #001011;
$primary-color: #98CE00;
$secondary-color: #6CCFF6;
$tertiary-color: #b968f7;
$text-color: #FFFFFC;
$border-color: #757780;
$border-radius: 0.25rem;
$padding: 0.5rem 1rem;
$shadow-color: rgba(0, 0, 0, 0.5);

$glass-background: rgba(255, 255, 255, 0.2);
$glass-blur: 10px;