// Variables
$background-color: #253238;
$primary-color: #FF9DB6;
$secondary-color: #D09ED3;
$tertiary-color: #A7BDEF;
$text-color: #CCCCCC;
$border-color: #9ADBD6;
$border-radius: 0;
$padding: 0.5rem 1rem;
$shadow-color: rgba(0, 0, 0, 0.3);

$glass-background: rgba(37, 50, 56, 0.8);
$glass-blur: 5px;